.body {
  background-color: #04AA6D;
}

.banner {
  width: 85%;
  height: 100px;
  background-color: #04AA6D;
  border-radius: 15px 15px 0px 0px;
}

.bannertext {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 80px;
  margin: auto;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  text-align: center;
  width: 75%; /* Full-width */
  height: 100px; /* Specified height */
  background: #fff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 75px; /* Set a specific slider handle width */
  height: 75px; /* Slider handle height */
  background: #4cb897; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.modebtn {
  width: 120px;
  height: 65px;
  background: #04AA6D;
  color: #fff;
}

.valtext {
  color: #fff;
}